google-api-core
google-cloud-profiler
grpcio-health-checking
openai
python-json-logger
requests
rsa
opentelemetry-distro
opentelemetry-instrumentation-grpc
opentelemetry-instrumentation-httpx
opentelemetry-exporter-otlp-proto-grpc