google-api-core
grpcio-health-checking
grpcio
jinja2
python-json-logger
google-cloud-profiler
google-cloud-trace
requests
opentelemetry-distro
opentelemetry-instrumentation-grpc
opentelemetry-exporter-otlp-proto-grpc
sendgrid
hvac